.title {
    font-size: 2.5rem;
    font-style: oblique 10deg;
}

.subtitle {
    font-size: 0.8rem;
    font-style: italic;
}

code {
    font-family: 'JetBrains Mono', monospace;
}

:not(pre)>code {
    padding: 0.1em 0.3em;
    background: var(--code-bg-color);
    font-size: 0.875em;
}

pre {
    position: relative;
    font-size: 0.75rem;
    padding: .5rem 1rem;
    margin: .125rem .25rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    border-radius: 3px;
    overflow: auto;
}

pre[data-lang]::before {
    font-family: 'JetBrains Mono', monospace;
    font-size: 0.8em;
    color: var(--code-color);
    position: absolute;
    right: .5rem;
    top: .25rem;
    content: attr(data-lang);
}

pre[data-lang=rust] {
    border-right: 1px solid rgb(150, 56, 56);
}

pre[data-lang=toml] {
    border-right: 1px solid #8d3c1e;
}

// The line numbers already provide some kind of left/right padding
pre[data-linenos] {
    padding: 1rem 0;
}

pre table td {
    padding: 0;
}

// The line number cells
pre table td:nth-of-type(1) {
    text-align: center;
    user-select: none;
}

pre mark {
    // If you want your highlights to take the full width.
    display: block;
    // The default background colour of a mark is bright yellow
    background-color: rgba(254, 252, 232, 0.9);
}

pre table {
    width: 100%;
    border-collapse: collapse;
}