<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="/index.css" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <script async src="https://umami2-ousf8ca4k-xy2iii.vercel.app/script.js"
    data-website-id="6081a52c-118f-4952-869a-c527b16b2c4e"></script>
  {% block head %} {% endblock %}
  <title>{% block title %} xy2 {% endblock %}</title>
</head>

<body>
  <a class="header" href="/">xy2.dev</a>
  <section class="section">
    <div class="container">
      {% block content %} {% endblock %}
    </div>
  </section>
</body>

</html>